@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* navbar */
.feed-section ul li a {
    color: rgba(0, 0, 0, 1);

}

.feed-section header {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.05);
    padding-top: 17px;
    padding-bottom: 17px;
}

.free {
    color: rgba(1 200 255);
}

.events {
    color: rgba(44 73 254);
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;

}


ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);

}

.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.fill-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    background: rgba(44, 73, 254, 1);
    padding: 11px 28px 11px 28px;
    border: 1px solid rgba(44, 73, 254, 1);
    border-radius: 23px;
}
/* feed-section */

/* event-section */

.event-section {
    background-image: url(../image/png/party-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 17px;
    padding-bottom: 50px;
}

.container {
    max-width: 1320px !important;
}

.home-event {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding-top: 131px;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 50px;
}

.flex-grow {
    flex-grow: 1 !important;
}

/* choose-event */
.choose-event {
    padding-top: 68px;
    padding-bottom: 155px;
}

.next-event {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 33px;
}

.card-event {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 35px 37px 30px 43px;
    border-radius: 30px;
    margin-bottom: 24px;
}

.card-event:hover {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

.lorem {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    padding-top: 21px;
    padding-bottom: 12px;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.place {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.choose-event button {
    margin-top: 25px !important;
}

.mb-24 {
    margin-bottom: 24px;
}

/* footer-section */
.footer-section {
    background: rgba(0, 0, 0, 1);
    padding-top: 81px;
    padding-bottom: 25px;
}

.para-lorem {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    max-width: 346px !important;
    padding-top: 36px;
    padding-bottom: 24px;
}

.ul-chat {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 45px;
}

.grid-gallery {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    padding-top: 45px;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding: 10px;
}

.show {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(45, 60, 174, 0.53);
    padding-top: 27px;
    cursor: pointer;
}

.footer-section ul li {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);

}

.footer-section ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);

}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

/*

.ul-list {
    padding-top: 60px;
}

.eventsfree {
    padding-top: 30px;
}

.ul-chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.show {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(45, 60, 174, 0.53);
    padding-top: 15px;
}

.lorem-sit {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 36px;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.belong {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.service-e {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.service-li {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.gallery {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 9px;
    padding-left: 10px;
}
*/
/* section-1

.section-1 {
    background-image: url(../image/png/event-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1320px !important;
}

.parent-svg {
    position: relative;
}

a {
    text-decoration: none !important;
}

.free {
    color: rgba(1 200 255);
}

.events {
    color: rgba(44 73 254);
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;

}

.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.log-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(44, 73, 254, 1);
    width: 118px;
    height: 46px;
    white-space: nowrap;
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    border: 1px solid rgba(44, 73, 254, 1);
}

dl,
ol,
ul {
    padding-top: 5px !important;
}

.list-unstyled {
    padding-right: 50px;
}

.blue-box {
    background: rgba(44, 73, 254, 0.74);
    border-radius: 150px;
    width: 100% !important;
    max-width: 962px !important;
    padding: 30px;

}


.ldc {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.94px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-right: 70px;
    padding-top: 20px;
    padding-left: 10px;
}

.search {
    font-family: "Yantramanav", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.go-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
    color: rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 15px 20px 15px 20px;
    border-radius: 150px;

}

.svg-icon {
    position: absolute;
    left: 30px;
    top: 34px;

}

.svg-icon-1 {
    position: absolute;
    left: 28%;
    top: 34px;

}

.svg-icon-2 {
    position: absolute;
    left: 48%;
    top: 40px;

}

.sed {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 96.32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 1044px;
    padding-top: 30px;
}

.Lorem {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.94px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 765px;
    padding-top: 18px;
    padding-bottom: 33px;
}

.get-btn {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    background: rgba(44, 73, 254, 1);
    border: 1px solid rgba(44, 73, 254, 1);
    width: 172px;
    height: 52px;
    white-space: nowrap;
    padding: 11px 28px 11px 28px;
    border-radius: 28px;
    margin-bottom: 50px;
}

.more-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}
*/
/* section-2 

.card-sharing {
    background: rgba(44, 73, 254, 1);
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    width: 260px;
    height: 198px;
    padding: 35px;

}

.card-help {
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    width: 260px;
    height: 198px;
    margin-top: 37px;
    margin-left: 150px;
    padding: 35px;
}

.card-info {
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    width: 260px;
    height: 198px;
    padding: 35px;
}


.box-s {
    border: 2px solid rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 79px;
    height: 79px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
}

.box-h {
    border: 2px solid rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 79px;
    height: 79px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -25%;
}

.box-I {
    border: 2px solid rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 79px;
    height: 79px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -25%;
}

.line-svg {
    position: absolute !important;
    transform: translateY(-50%);
    left: 22%;
    top: 50%;
}

.make-us {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 583px;
    padding-top: 21px;
}

.surface {
    padding-top: 60px;
}

.para {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 46px;
}

.Sharing {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.help {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(44, 73, 254, 1);


}

.Info {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(44, 73, 254, 1);

}

.para-dolor {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.para-lorem {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(45, 60, 174, 1);
}*/

/* section-3

.section-3 {
    background-image: url(../image/png/smile-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 513px !important;
}

.section-3::after {
    content: '';
    position: absolute;
    background: rgba(44, 73, 254, 0.8);
    inset: 0px;

}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 40px;
}

.paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 40px;
}

.parent-box {
    gap: 198px;
    padding-top: 78px;
}

.svg-group {
    margin-left: 38px;
}

.message {
    margin-left: 10px;
}

.speaker {
    margin-left: 22px;
}

.award {
    margin-left: 15px;
}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.ptsa {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}*/

/* section-4
.explore {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 65.52px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 338px;
}

.para-amet {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 543px;
    color: rgba(0, 0, 0, 0.7);
}

.btn-learn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.card-lorem {
    box-shadow: 2px 9px 32px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
    border-radius: 5px;
    padding: 16px 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-rem {
    background-color: white;
    border-radius: 5px;
    padding: 16px 16px;


}

.date-23 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 13px;
}

.lorem-i {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.para-ipsum {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);

}

.heading-us {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 1);


}

.para-sit {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    max-width: 543px;

}

.sign-up {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

input[type="first-name"] {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding: 12px 20px;
    max-width: 279px;
    margin-right: 12px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

input[type="last-name"] {
    border: 1px solid rgba(0, 0, 0, 0.4);
    max-width: 279px;
    width: 100%;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    line-height: 24px;
    padding: 12px 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}

input[type="email"] {
    max-width: 574px;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
    padding: 12px 20px;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);

}

input[type="password"] {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    max-width: 279px;
    width: 100%;
    margin-right: 12px;
    height: 42px;
    padding: 12px 20px;
}

input[type="confirm-password"] {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    max-width: 279px;
    width: 100%;
    height: 42px;
    padding: 12px 20px;
}

textarea[name="about-me"] {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 12px 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    height: 124px;
    width: 100%;
    max-width: 574px;
    margin-top: 16px;
    margin-bottom: 35px;


}

textarea {
    resize: none !important;
}

.sign-up-btn {
    background: rgba(44, 73, 254, 1);
    width: 100%;
    max-width: 574px;
    height: 46px;
    padding: 11px 28px 11px 28px;
    border: 2px solid rgba(44, 73, 254, 1);
    border-radius: 23px;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}*/

/* festivals-profile 

.festivals-profile ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.home-user {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;

}

.pr-99 {
    padding-right: 90px;
}

.unshow {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
    color: rgba(0, 0, 0, 1);
    background: rgba(44, 73, 254, 0.1);
    border-radius: 23px;
    padding: 11px 28px 11px 28px;
    border: 2px solid rgba(234 237 255);
}

.show-feed {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background: rgba(44, 73, 254, 1);
    border: 1px solid rgba(44, 73, 254, 1);
    padding: 11px 28px 11px 28px;
    white-space: nowrap;
    border-radius: 23px;
}

.semper {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(0, 0, 0, 1);
    width: 642px;
    opacity: 60%;
}*/

/* grid-layout 
.heading-grid {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: rgba(0, 0, 0, 1);

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.item-4 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.item-6 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 20px;

}
*/
/*tell-us
.tell-us {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: rgba(0, 0, 0, 1);

}

.tellus-section {
    padding-top: 47rem;
}

.morbi-para {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
    max-width: 719px;
}
*/
/* feed 
.feed {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.05);

}

.feed-section {
    overflow: hidden;
}

.feed-section ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);


}

.feed-section ul li a.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.card-img {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    width: 322px !important;
    padding: 13px;
    border-radius: 20px !important;
}


.quis {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    max-width: 163px;
}

.pr-15 {
    padding-right: 15px;
}

.more-no {
    background: rgba(234 237 255) !important;
    border-radius: 20px;
    width: 171px !important;
    padding-top: 20px;
    padding-bottom: 15px;
}

.home-feed {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;

}

.jhone-doe {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    white-space: nowrap;
    color: rgba(0, 0, 0, 1);

}

.dictum {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
    max-width: 857px !important;
}

.following-e {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.augue {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.text-no {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    opacity: 60%;
    color: rgba(0, 0, 0, 1);
    opacity: 10%;
}

.text-more {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 1) !important;
    opacity: 60%;
}

.post-new {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.box-shadow {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 31px;
}

.username {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.post-name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.fusce {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 561px !important;
    padding-top: 45px;
}

.dictumst {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
    max-width: 553px !important;
}

.num {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.card-party {
    margin-bottom: 24px;
}

.card-party-1 {
    background-image: url(../image/png/Rectangle\ 85.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 236px !important;
    width: 302px !important;
    border-radius: 20px !important;
}

.background {
    background: rgba(255, 255, 255, 1);
    width: 100px !important;
    height: 100px !important;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    position: absolute;
    right: 4%;
    top: 54%;
}

.text-15 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.text-m {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 1) !important;
    opacity: 60%;
}

.label[for="Ellipse"] {
    display: flex;
    align-items: center;
}

input[type="Ellipse"] {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
    border: 1px solid rgba(156, 161, 190, 1);
    width: 100% !important;
    border-radius: 60px !important;
    padding: 25px 85px;


}

.girls-image {
    position: absolute !important;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 1;
}

.post-c {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: rgba(44, 73, 254, 1);
    padding: 11px 28px 11px 28px;
    border-radius: 36px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(44, 73, 254, 1);
}

.background-color {
    background: rgba(241, 242, 245, 1);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
}

.user {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.eget-para {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 1126px !important;

}

.remove {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.pl-30 {
    padding-left: 90px;
    padding-top: 10px;
}

.border-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 45px;
}
*/
/* event
.event {
    background-image: url(../image/png/event-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 372px;
}

.events {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: rgba(44 73 254);
}

.free {
    color: rgba(1 200 255);
}

a {
    text-decoration: none !important;
}

.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}


dl,
ol,
ul {
    padding-top: 10px !important;
}

.log-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(44, 73, 254, 1);
    border: 2px solid rgba(44, 73, 254, 1);
    border-radius: 23px;
    padding: 10px 25px 10px 24px;
}

.home {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 130px;
}

.even {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
*/
/*flex box layout
.mb-24 {
    margin-bottom: 24px;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    padding-bottom: 20px;
    text-indent: center;
    font-family: "poppins", sans-serif;
}

.card-event {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 30px;
    margin-bottom: 24px;
}

.card-event:hover {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

.lorem {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    padding-top: 21px;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.mumbai {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.go-btn {
    background: rgba(44, 73, 254, 1);
    border: 2px solid rgba(44, 73, 254, 1);
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 134px;
    height: 46px;
}
*/
/* footer-section 
.footer-section {
    background: rgba(0, 0, 0, 1);
    padding: 20px;
}

.ul-list {
    padding-top: 60px;
}

.eventsfree {
    padding-top: 30px;
}

.ul-chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.show {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(45, 60, 174, 0.53);
    padding-top: 15px;
}

.lorem-sit {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 36px;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.belong {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.service-e {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.service-li {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.gallery {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 9px;
    padding-left: 10px;
}
*/
/* media quary
@media (max-width:768px) {
    .form-btn {
        width: 100% !important;
    }
}
*/
@media (max-width:992px) {
    label[for="menu-list"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menu-list"]>span {
        width: 100%;
        height: 3px;
        background-color: white;
        z-index: 2;
    }

    input#menu-list:checked~.ul-modify {
        background-color: lightseagreen;
        right: 0;
    }

    input:checked~label[for="menu-list"]>span:nth-child(1) {
        transform: rotate(64deg);
        transform-origin: left;
    }

    input:checked~label[for="menu-list"]>span:nth-child(2) {
        transform: rotate(-40deg);
        opacity: 0;

    }

    input:checked~label[for="menu-list"]>span:nth-child(3) {
        transform: rotate(-63deg);
        transform-origin: left;
    }

    .ul-modify {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: black;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 200ms linear;
    }

}


@media(max-width: 680px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        margin-bottom: 1em;
    }
}